*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.basliq{
    width: 100%;
    min-height: 580px;
    background-image: url(./Picture/hero_2.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
.navbar{
    width: 80%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 22px;
}
.navbar_lists{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}
.navbar_lists  li{
   list-style-type: none;
}
.navbar  button{
    padding: 10px;
    border: 0;
    background-color: #30e3ca;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
.navbar_basliq > h1 > span{
    color: #30e3ca;
}
.navbar_basliq h1{
    text-transform: uppercase;
}
.navbar_lists  li:hover{
    color: #30e3ca;

}
.xett{
    width: 2px;
    height: 15px;
    background-color: rgb(189, 181, 181);

}

.basliq_esas_yazi{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}
.basliq_esas_yazi  h2{
    font-size: 40px;
    color: white;
}
.basliq_esas_yazi p{
    font-size: 24px;
}
.basliq_yazi{
    width: 600px ;
    text-align: center;
}

.basliq_form{
    width: 80%;
    min-height: 80px;
    margin: 0 auto;
    opacity: 2;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.basliq_form_esas input,select{
    padding: 10px;
    border: 0;
    margin: 5px 20px;
    width: 220px;
    border-radius: 5px;
    font-size: 16px;
}
.basliq_form_esas .location{
    padding: 10px;
    border: 0;
    margin: 0 15px;
    width: 250px;
    border-radius: 5px;

}
.basliq_form_esas button{
    padding: 10px;
    border: 0;
    margin: 5px 20px;
    background-color: #48ebd5;
    border-radius: 5px;
    font-size: 16px;
    width: 130px;
}
.basliq_form_esas button:hover{
    background-color: #09ecce;
}

